h1 Graphs#index
p Find me in app/views/graphs/index.html.slim
#graph
javascript:
  var chart1; // globally available
  $(document).ready(function() {
    chart1 = new Highcharts.Chart({
      chart: {
        renderTo: 'graph',
        type: 'line'
      },
      title: {
        text: 'Step Count'
      },
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: {
          month: '%e. %b',
          year: '%b'
        }
      },
      yAxis: {
          title: {
          text: 'Steps taken'
        }
      },
      - series.each do |s|
        series: [{
          name: '#{s.name}',
          data: #{s.data}
        }],
    });
  });
